VITE_SUPABASE_URL=https://jyenohedtuaccbajpnjo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5ZW5vaGVkdHVhY2NiYWpwbmpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNTk5MzMsImV4cCI6MjA5ODkzNTkzM30.ac4HxMq6dnKNZJphYvzFP02eLp_Xq3AzCRoez4EVXTM
VITE_GOOGLE_MAPS_API_KEY=tu-api-key-de-google-cloud