@import "tailwindcss";

@theme {
  --color-primary: #051620;
  --color-primary-soft: #0a2030;
  --color-text: #666666;
  --color-title: #051620;
  --color-border: #e5e5e5;
  --color-bg: #ffffff;
  --color-bg-soft: #f8f8f8;

  --font-display: "Poppins", sans-serif;
  --font-body: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-display);
    color: #051620;
  }

  p {
    color: #666666;
  }

  body {
    background: #ffffff;
  }
}

@keyframes fadeRotate {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-rotate {
  animation: fadeRotate 350ms ease-out;
}

html {
  scroll-behavior: smooth;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}